<v-row class="fill-height">
  <v-col sm="12"
    lg="3">
    <form>
      <v-select v-model="eventType"
        item-value="id"
        item-text="label"
        :items="eventTypes"
        label="Types"></v-select>

      <v-select v-model="arenaId"
        item-value="id"
        item-text="label"
        :items="arenaList"
        label="Arène"></v-select>

      <template v-if="eventType">
        <v-menu ref="startEventMenu"
          v-model="startEventMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="startEvent"
          transition="scale-transition"
          min-width="290px"
          offset-y>
          <template v-slot:activator="{ on }">
            <v-text-field v-model="startEvent"
              :label="eventType === 1 ? 'Date' : 'Début'"
              readonly
              v-on="on">
              <template v-slot:prepend>
                <v-icon small>mdi-calendar</v-icon>
              </template>
            </v-text-field>
          </template>
          <v-date-picker v-model="startEvent"
            no-title
            scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text
              color="primary"
              @click="startEventMenu = false">
              Annuler
            </v-btn>
            <v-btn text
              color="primary"
              @click="$refs.startEventMenu.save(startEvent)">
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>

        <v-text-field v-if="eventType === '1'"
          v-model="hourEvent"
          :rules="hourEventRules"
          label="Heure"
          placeholder="13:30">
          <template v-slot:prepend>
            <v-icon small>mdi-calendar</v-icon>
          </template>
        </v-text-field>

        <v-menu v-if="eventType === '2'"
          ref="endEventMenu"
          v-model="endEventMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="endEvent"
          transition="scale-transition"
          min-width="290px"
          offset-y>
          <template v-slot:activator="{ on }">
            <v-text-field v-model="endEvent"
              label="Fin"
              readonly
              v-on="on">
              <template v-slot:prepend>
                <v-icon small>mdi-calendar</v-icon>
              </template>
            </v-text-field>
          </template>
          <v-date-picker v-model="endEvent"
            no-title
            scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text
              color="primary"
              @click="endEventMenu = false">
              Annuler
            </v-btn>
            <v-btn text
              color="primary"
              @click="$refs.endEventMenu.save(endEvent)">
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>

        <v-btn @click="addEvent"
          color="primary"
          :disabled="!isValidForm">
          Ajouter
        </v-btn>
      </template>
    </form>
  </v-col>

  <v-col>
    <v-sheet height="64">
      <v-toolbar flat
        color="white">
        <v-btn outlined
          class="mr-4"
          @click="setToday">
          Aujourd'hui
        </v-btn>
        <v-btn fab
          text
          small
          @click="prev">
          <v-icon small>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn fab
          text
          small
          @click="next">
          <v-icon small>mdi-chevron-right</v-icon>
        </v-btn>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
      </v-toolbar>
    </v-sheet>

    <small v-if="eventToUpdate">
      Selection nouvelle date
      <strong>
        <template v-if="!eventToUpdate.start">
          de début</template>
        <template v-else>
          de fin</template>
      </strong>
    </small>

    <v-sheet height="600">
      <v-calendar ref="calendar"
        v-model="focus"
        color="primary"
        :events="events"
        :event-color="getEventColor"
        :event-margin-bottom="3"
        :now="today"
        :type="calendarType"
        @click:event="showEvent"
        @click:date="updateDateEvent"
        @click:day="updateDateEvent"
        @change="updateRange"></v-calendar>
      <v-menu v-if="!eventToUpdate"
        v-model="selectedOpen"
        :close-on-content-click="false"
        :activator="selectedElement"
        offset-x>
        <v-card color="grey lighten-4"
          min-width="200px"
          flat>
          <v-toolbar :color="selectedEvent.color"
            dark>
            <v-btn v-if="selectedEvent.type === 2" icon
              @click="enableUpdateDateEvent(selectedEvent)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
          </v-toolbar>
          <v-card-actions>
            <v-btn @click="onCancelEvent(selectedEvent)">
              <v-icon>mdi-trash-can</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-sheet>
  </v-col>
</v-row>
