<div class="mx-auto">
  <p>
  {{ dateStr }}</br>
  {{ areaLabel }}
  </p>

  <v-dialog
    v-model="deleteAccountConfirm"
    max-width="290"
    >
    <v-card>
      <v-card-title class="headline">Suppression</v-card-title>

      <v-card-text>
        Le Petit Compte va etre supprimé
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="green darken-1"
          text
          @click="deleteAccountConfirm = false"
          >
          Non
        </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="deleteAccount"
            >
            Oui
          </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-row v-for="(userEvent, i) in userEvents"
         :key="userEvent.userId"
         class="text--primary">
    <template v-if="getDistinctAccounts(userEvent).length">
      <v-col class="col-md-3 pt-6">
        <v-btn @click="removeUserEvent(i)"
             x-small
             class="mr-2"
             fab>
          <v-icon>mdi-minus</v-icon>
        </v-btn>

        <v-btn v-if="userEvent.userId && userEvent.userId !== userStore.id" x-small
               fab
               @click="prepareAccountToDelete(userEvent.userId)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-col>

      <v-col md="5">
        <v-select v-model="userEvent.userId"
                  :items="getDistinctAccounts(userEvent)"
                  item-value="id"
                  item-text="label"
                  label="Compte"
                  persistent-hint></v-select>
      </v-col>

      <v-col md="4">
        <v-select v-model="userEvent.teamId"
                  :items="teams"
                  item-text="label"
                  item-value="id"
                  label="Chez les"></v-select>
      </v-col>
    </template>
  </v-row>

  <!-- free sub accoun -->
  <v-row class="text--primary">
    <v-col class="col-md-3 pt-6">
    </v-col>

    <v-col md="5">
      <VInputAvailableUser v-model="freeAccount"
                    @input="freeAccountTeamId = null"
                    label="Nouveau compte"
                    ref="newAccount"/>
    </v-col>

    <v-col md="4">
      <v-select v-model="freeAccountTeamId"
                :items="teams"
                item-text="label"
                item-value="id"
                :disabled="!freeAccount"
                label="Chez les"></v-select>
    </v-col>
  </v-row>

  <v-row>
    <v-col class="mb-12">
      <v-dialog key="dialog-edit"
                v-model="savedModal"
                persistent
                max-width="290">
        <template v-slot:activator="{ on }">
          <v-btn class="ma-2"
                 @click="editSubscription(on.click)"
                 :color="hasBeenChanged ? 'orange' : 'green'"
                 :disabled="!isValidForm || !hasBeenChanged">
            <v-icon color="white">mdi-checkbox-marked-circle</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline">C'est dans la boite!</v-card-title>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="green darken-1"
                   text
                   @click="savedModal = false">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</div>
