<v-form
  ref="form"
  v-model="valid"
  @submit.prevent="onSubmit"
>
  <VInputAvailableUser v-model="user"
    label="Nom"
    :tmp-users="accounts.filter((a, i) => i > 0)"
    :autofocus="!accounts.filter(Boolean).length"
    required />

  <VInputAvailableUser :key="i" v-for="(account, i) in accounts"
    v-model="accounts[i]"
    :label="'Petit compte (' + (i + 1) + ')'"
    @change="onAccountChanged"
    @input="onAccountUpdated(i)"
    :autofocus="accounts.filter(Boolean).length && i === accounts.length - 1"
    :tmp-users="[user, ...accounts.filter((a, j) => j !== i)]"
  />

  <v-text-field
    v-model="password"
    :rules="passwordRules"
    label="Mot de passe"
    type="password"
    required
  ></v-text-field>

  <v-text-field
    v-model="passwordBix"
    :rules="passwordRulesBis"
    label="Retaper le mot de passe"
    type="password"
    required
  ></v-text-field>

  <v-btn
    :disabled="!valid"
    color="success"
    class="mr-4"
    type="submit"
  >
    Validate
  </v-btn>

  <a href="#" @click.stop.prevent="$router.push({ name: 'login' })">J'ai deja un compte</a>
</v-form>
