<v-container>
  <v-layout text-center
    wrap>
    <v-flex xs12>
      <v-img :src="require('@/assets/pokeball.png')"
        class="my-3"
        contain
        height="200"></v-img>
    </v-flex>

    <v-flex mb-4>
      <h1 class="display-2 font-weight-bold mb-3">
        Evenements
      </h1>
      <p class="subheading font-weight-regular">
        Voici les prochains Raid Ex, venez vous y inscrire:
      </p>
    </v-flex>
  </v-layout>

  <UserCalendar />

  <v-bottom-navigation fixed
    grow
    v-model="activeBtn"
    color="deep-purple accent-4">
    <v-btn value="HOME">
      <span>Accueil</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>

    <v-btn value="SETTINGS">
      <span>Mon Compte</span>
      <v-icon>mdi-settings</v-icon>
    </v-btn>
  </v-bottom-navigation>
</v-container>
