<v-card max-width="344"
  class="mx-auto">
  <v-card-title>
    <v-btn icon
      v-if="isSubscribed"
      :color="hasBeenChanged ? 'orange' : 'green'"
      dark>
      <v-icon dark>mdi-checkbox-marked-circle</v-icon>
    </v-btn>

    <v-tooltip right>
      <template v-slot:activator="{ on }">
        <v-badge>
          <span v-text="dateStr"></span>
          <template v-slot:badge><span v-on="on"
              v-text="usersLength"></span></template>
        </v-badge>
      </template>
      <span>{{ usersLength }} Participants</span>
    </v-tooltip>
  </v-card-title>

  <v-card-text>
    <p v-text="areaLabel"></p>
    <span class="text--primary">
      <v-select v-model="teamId"
        :items="teams"
        item-text="label"
        item-value="id"
        label="Chez les">
        <v-icon slot="prepend"
          :color="teamColor">mdi-account</v-icon>
      </v-select>

      <v-select v-model="accountIds"
        :items="accountList"
        item-value="id"
        item-text="label"
        label="Comptes"
        multiple
        chips
        hint="Mes petits comptes"
        persistent-hint
        ref="accountsSelect">
        <template v-slot:append-item>
          <v-layout row>
            <v-divider class="mb-2"></v-divider>
            <v-list-item>
              <v-list-item-content>
                <form>
                  <v-btn icon
                    @click="
                        isExtandedMenuDisplayed = !isExtandedMenuDisplayed
                      "
                    class="ml-1 mr-1">
                    <v-icon>{{
                        isExtandedMenuDisplayed
                          ? 'mdi-chevron-up'
                          : 'mdi-chevron-down'
                      }}</v-icon>
                  </v-btn>

                  <v-expand-transition>
                    <div v-show="isExtandedMenuDisplayed">
                      <v-text-field v-model="newAccount"
                        label="Nouveau compte">
                        <v-btn slot="append"
                          small
                          @click="applyNewCompte">
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </v-text-field>
                      <v-text-field v-model="accountToRemove"
                        label="Suppression compte">
                        <v-btn slot="append"
                          small
                          @click="removeAccount">
                          <v-icon>mdi-minus</v-icon>
                        </v-btn>
                      </v-text-field>
                    </div>
                  </v-expand-transition>

                  <v-btn v-if="$refs.accountsSelect"
                    @click="onCloseManageAccount">
                    OK <v-icon dark
                      right>mdi-check</v-icon>
                  </v-btn>
                </form>
              </v-list-item-content>
            </v-list-item>
          </v-layout>
        </template>
      </v-select>
    </span>
  </v-card-text>

  <v-card-actions>
    <v-dialog v-if="!isSubscribed || hasBeenChanged"
      key="dialog-edit"
      v-model="savedModal"
      persistent
      max-width="290">
      <template v-slot:activator="{ on }">
        <v-btn class="ma-2"
          v-on="on"
          :color="hasBeenChanged ? 'orange' : 'green'"
          :dark="isValidForm"
          :disabled="!isValidForm">
          <v-icon dark>mdi-checkbox-marked-circle</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">C'est dans la boite!</v-card-title>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1"
            text
            @click="editSubscription">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-else-if="isSubscribed"
      v-model="leaveDialog"
      persistent
      max-width="290"
      key="dialog-unsubscribe">
      <template v-slot:activator="{ on }">
        <v-btn class="ma-2"
          v-on="on">
          <v-icon dark>mdi-exit-to-app</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">Quitter le Raid ex?</v-card-title>
        <v-card-text>Vous pouvez à tout moment le rejoindre ;)</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1"
            text
            @click="unsubscribe">Oui</v-btn>
          <v-btn color="green darken-1"
            text
            @click="leaveDialog = false">Non</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card-actions>
</v-card>
