<v-container>
  <v-layout text-center
    wrap>
    <v-flex xs12
      class="core-goto">
      <v-img :src="require('../../assets/pokemon_center.png')"
        class="my-3"
        contain
        height="164"></v-img>
    </v-flex>
  </v-layout>

  <router-view :key="$route.fullPath"></router-view>

  <v-bottom-navigation fixed
    grow
    v-model="activeBtn"
    color="deep-purple accent-4">
    <v-btn value="HOME">
      <span>Accueil</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>

    <v-btn value="ADMIN">
      <span>Administration</span>
      <v-icon>mdi-settings</v-icon>
    </v-btn>

    <v-btn value="ADMIN-USERS-MANAGEMENT">
      <span>Inscrits</span>
      <v-icon>mdi-account-multiple</v-icon>
    </v-btn>

    <v-btn value="MANAGE-ACCOUNTS">
      <span>Mon Compte</span>
      <v-icon>mdi-account</v-icon>
    </v-btn>
  </v-bottom-navigation>
</v-container>
